<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metalúrgica Favorit</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles_informacoes.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <h1>Metalúrgica <span>Favorit</span></h1>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="home.html">Início</a></li>
                    <li><a href="demandas.html">Demandas</a></li>
                    <li><a href="informacoes.html">Sobre</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
            <a href="#contact" class="btn cta-btn">Solicite um Orçamento</a>
        </div>
